* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  
}
#root {
  overflow: hidden;
}


.invite-btn {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: white;
  font-weight: 700;
}

.header {
  background: hsl(0, 0%, 98%);
  position: relative;
  overflow-x: hidden;
  overflow: visible;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-inline: 10vw;
  padding-block: 7vh;
  gap: 3vh
}

.mockups, .intro {
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.mockups {
  width: 40%;
  top: -20%;
  right: -5%;
}

.intro {
  z-index: 0;
  top: -40vh;
  right: -15vw;
  width: 60vw;
}

.main-title {
  color: hsl(233, 26%, 24%);
  width: 50%;
  font-weight: 300;
  font-size: 3.6rem;
}

.main-text {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
  line-height: 1.5em;
  width: 40%;
}


.why {
  background: hsl(220, 16%, 96%);
  position: relative;
  width: 100vw;
  padding-block: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-inline: 10vw;
  gap: 3vh
}

.why-title, .why-item-title {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  font-size: 3rem;
}

.why-text, .why-item-text {
  color: hsl(233, 8%, 62%);
  font-size: 18px;
  line-height: 1.5em;
  width: 60%;
}

.why-text {
  margin-bottom: 4vh;
}

.why-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5vw
}

.why-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3vh
}

.why-item-title {
  font-size: 1.5rem;
}

.why-item-text  {
  width: 100%;
  font-size: 1rem
}

.articles {
  background: hsl(0, 0%, 98%);
  position: relative;
  width: 100vw;
  padding-block: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-inline: 10vw;
  gap: 5vh
}

.articles-title {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
  font-size: 2.7rem;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw
}

.article-item-img{
  width: 100%;
}

.article-item-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
}

.article-item-author {
  font-size: 0.6rem;
  color: hsl(233, 8%, 62%);
}

.article-item-title {
  font-size: 1.2rem;
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}

.article-item-text {
  color: hsl(233, 8%, 62%);
  font-size: 0.8rem;
  line-height: 1.5em;
}

footer {
  padding-inline: 10vw;
  padding-block: 5vh;
  display: flex;
  gap: 10vw;
  background-color: hsl(233, 26%, 24%);
}

footer .logo {
  filter: brightness(0) invert(1);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.socials {
  display: flex;
  align-items: center;
  gap: 0.5rem
}

.social-logo {
  color: white;
}

.youtube-icon-container {
  padding: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.footer-links {
  display: flex;
  gap: 10vw;
  color: white;
}

.footer-links-column {
  display: flex;
  flex-direction: column;
  gap: 2vh
}

.footer-btn {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.credits {
  color: white;
}

.attribution, .attribution a {
  text-align: center;
  color: white;
  background-color: hsl(233, 26%, 24%);
}

@media screen and (max-width: 1050px) { 
  .intro {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw
  }

  .mockups {
    position: absolute;
    width: 90vw;
    top: -5%;
    right: 50%;
    transform: translateX(50%);
  }

  .header {
    gap: 0;
    height: fit-content;
    padding-inline: 0;
    align-items: center;
    text-align: center;
    padding-bottom: 3vh;
  }
  .main-title {
    margin-bottom: 2vh;
    font-size: 2.5rem;
  }

  .main-text {
    margin-bottom: 2vh;
    font-size: 1rem;
  }
  .main-title, .main-text {
    width: 95%;
  }

  .why, .articles {
    padding-inline: 5vw;
    align-items: center;
    text-align: center;
  }

  .why-text {
    width: 100%;
  }

  .why-items-container, .articles-container {
    grid-template-columns: 1fr;
    gap: 5vh
  }

  .why-item {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer, .footer-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    gap: 2vh;
  }

  .contacts, .footer-btn {
    gap: 5vh
  }

  .socials {
    justify-content: center;
  }

  .footer-btn {
    margin: 0;
    align-items: center;
  }
}